<div class="container-fluid header">
  <div class="container">
    <div class="jumbotron">
      <h1><img class="img-responsive logo-badge" src="{{ base_url }}/images/logo-badge.png" alt="DRF Docs Badge" /></h1>
      <a target="_blank" href="https://pypi.python.org/pypi/drfdocs/"><img class="img-responsive" src="https://badge.fury.io/py/drfdocs.svg" alt="PyPI version" height="18"></a>
      <h3>Document Web APIs made with <a href="http://www.django-rest-framework.org/" target="_blank">Django REST Framework</a>.</h3>
    </div>
  </div>
</div>
