.coverage
covhtml/

*.pyc
__pycache__/

env/
demo/db.sqlite3
dist/
drfdocs.egg-info/

site/

demo/node_modules/
rest_framework_docs/static/rest_framework_docs/js/dist.min.js

rest_framework_docs/static/node_modules/
rest_framework_docs/static/rest_framework_docs/js/dist.min.js.map
