include README.md
include LICENSE

recursive-include rest_framework_docs/static *
recursive-include rest_framework_docs/templates *.html

recursive-exclude rest_framework_docs/static/node_modules *.*
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
