include README.md
include LICENSE

recursive-include rest_framework_docs/static *.js *.css *.less *.png *.eot *.svg *.ttf *.woff
recursive-include rest_framework_docs/templates *.html
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
