<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include github-ribbon.html repo_url=site.github_repo_url %}
    {% include header.html %}

    <div class="container">
      <div class="col-sm-4 nav-wrapper">

        <ul class="well nav nav-pills nav-stacked">
          {% assign sorted_docs = site.docs | sort:"order" %}
          {% for doc in sorted_docs %}
            <li role="presentation" {% if page.url == doc.url %}class="active"{% endif %}><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endfor %}
        </ul>

        <div class="thanks">
          <h5 class="text-center">Thanks to:</h5>
          <a href="http://www.djangoproject.com/" target="_blank"><img class="img-responsive" src="/static/images/django-logo.png" alt="Django Project" /></a>
          <a href="http://www.django-rest-framework.org/" target="_blank"><img class="img-responsive" src="/static/images/drf-logo.png" alt="Django REST Framework" /></a>
        </div>

      </div>
      <div class="col-sm-8">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>

    {% include scroll-to-top.html %}

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71505240-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>

</html>
