<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include github-ribbon.html repo_url=site.github_repo_url %}
    {% include header.html %}

    <div class="container">
      <div class="col-md-4">

        <h3>Navigation</h3>
        <ul class="well nav nav-pills nav-stacked">
          {% for doc in site.docs %}
            {% if doc.latest %}
            <li role="presentation" {% if page.url == doc.url %}class="active"{% endif %}><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <h3>Versions</h3>
        <ul class="well nav nav-pills nav-stacked">
          {% for version in site.available_versions reversed %}
            <li role="presentation"><a href="{{ version.url }}">{{ version }}</a></li>
          {% endfor %}
        </ul>

      </div>
      <div class="col-md-8">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>

    {% include scroll-to-top.html %}

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71505240-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>

</html>
