---
layout: default
---
<div class="doc">

  {% if page.title != "Home" %}
  <div class="doc-header">
    <h1 class="doc-title" itemprop="name headline">{{ page.title }}</h1>
  </div>
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    {% if page.source_filename %}
    <a class="btn btn-default btn-edit" href="https://github.com/ekonstantinidis/django-rest-framework-docs/blob/gh-pages/_docs/{{ page.source_filename }}.md">Edit on Github <i class="fa fa-github"></i></a>
    {% endif %}

  </div>

</div>
